@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
$whole-text: "Cormonant Garamond";
$main: "Cinzel";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $whole-text;
}

header {

    h1 {
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin-left: 100px;
        font-family: $main;
        padding-top: 30px;
    }
}

.favorites {
    padding: 30px 200px;

    @media (min-width: 1025px) and (max-width: 1440px){
        padding: 20px 100px;
    }
    @media (min-width: 768px) and (max-width: 1024px){
        padding: 30px 100px;
    }
    @media (min-width: 325px) and (max-width: 768px){
        padding: 20px;
    }

    .favorites__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px;


        li {
            list-style-type: none;
            width: 100%;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
            position: relative;
            margin-top: 60px;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        .wrapper {
            width: 100%;
            overflow: hidden;
            padding: 30px;
            position: absolute;
            z-index: 1;
            background-color: white;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
            max-height: 110px; /* Начальная высота */
            transition: max-height 0.5s ease, opacity 0.5s ease;
        
            /* Убедитесь, что если содержимое маленькое, оно всё ещё видно */
            &:hover {
                max-height: 1000px; /* Достаточно большое значение для анимации */
                opacity: 1; /* Полная видимость при наведении */
            }

            @media (min-width: 1025px) and (max-width: 1440px) {
                padding: 15px;
                max-height: 90px;
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                box-shadow: none;
                padding: 20px;
                max-height: 100px;
                overflow: hidden;
                &:hover {
                    max-height: 1000px;
                    /* Достаточно большое значение для анимации */
                    opacity: 1;
    
                }
            }
            @media (min-width: 325px) and (max-width: 768px){
                box-shadow: none;
                padding: 20px;
                max-height: 100px;
                overflow: hidden;
                &:hover {
                    max-height: 1000px;
                    /* Достаточно большое значение для анимации */
                    opacity: 1;
    
                }
            }
        }

            .criterias {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-bottom: 10px;
                position: relative;
                overflow: hidden;
                opacity: 1;
                transition: height .5s ease, opacity 0.5s ease;

                li {
                    box-shadow: none;
                    margin-bottom: 10px;
                    display: flex;
                    justify-content: center;
                    margin-top: 0;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .name {
                    font-weight: bold;
                    font-size: 20px;
                    @media (min-width: 768px) and (max-width: 1024px) {
                        min-width: 100%;
                        font-size: 18px;
                    }
                }

                .price {
                    color: rgba(128, 128, 128, 0.485);
                    font-size: 20px;
                    font-weight: bold;

                }

                .descr {
                    opacity: 1;
                    /* Описание видно всегда */
                    transition: opacity 0.5s ease;
                }

                .color,
                .scent {
                    opacity: 0;
                    /* Скрыто по умолчанию */
                    transition: opacity 0.5s ease;
                    @media (min-width: 768px) and (max-width: 1024px) {
                        opacity: 1;
                    }
                }


                p {
                    padding-right: 8px;
                    font-weight: bold;
                }
            }

            .wrapper__btns {
                display: flex;
                justify-content: center;
                opacity: 0;
                /* Скрыто по умолчанию */
                transition: opacity 0.5s ease;
                gap: 40px;

                button {
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    outline: none;

                }

                @media (min-width: 768px) and (max-width: 1024px) {
                    opacity: 1;
                    gap: 15px;
                }

                .bascket, .remove-from-favorites {
                    border: 1px solid rgba(128, 128, 128, 0.395);
                    padding: 5px 10px;
                    border-radius: 10px;
                    transition: .5s;

                    &:hover {
                        background-color: rgba(128, 128, 128, 0.486);
                    }
                }
            }

            &:hover .criterias .color,
            &:hover .criterias .scent,
            &:hover .wrapper__btns {
                opacity: 1;
                /* Показываем скрытые элементы */
            }

            /* При наведении на .wrapper появляется вся информация */
            &:hover .criterias .descr,
            &:hover .criterias .name,
            &:hover .criterias .price {
                opacity: 1;
                /* Показываем описание, цену и название */
            }

        }
    }

footer {
    display: flex;
    justify-content: center;
    /* Центрирует по горизонтали */
    margin-top: auto;
    /* Гарантирует, что футер будет внизу */
    width: 100%;
    /* Чтобы футер занимал всю ширину */
    padding: 20px;
    padding-top: 300px;
}