@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
$whole-text: "Cormonant Garamond";
$main: "Cinzel";


@import url('media-index.scss');
@import url('null.scss');
@import url('favorites.scss');
@import url('null.scss');
@import url('bascket.scss');
@import url('index.scss');

body {
    font-family: $whole-text;
    background-color: white;
    color: black;
}

    header {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        height: 100px;
        background-color: white;
        width: 100%;
        z-index: 100;

        .burger-menu{
            display: none;
        }

        h1 {
            font-size: 30px;
            margin-left: 100px;
            font-family: $main;
        }

        ul {
            padding-top: 30px;
            display: flex;
            list-style-type: none;
            margin-left: 700px;
            gap: 30px;

            li {
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: black;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
                p{
                    display: none;
                    @media (min-width: 325px) and (max-width: 768px){
                        display: block;
                    }
                }

                button {
                    cursor: pointer;
                    border: none;
                    background-color: transparent;

                    
                }
            }
        }

        form {
            border: 1px solid black;
            background-color: white;
            user-select: none;
            color: black;
            box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
            left: 40%;
            top: 300%;
            border-radius: 30px;
            padding: 20px 100px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            display: none;
            box-shadow: 1000px 1000px 30px rgba(0, 0, 0, 0.7), 0 0 60px rgba(0, 0, 0, 0.5);

            input {
                outline: 0;
                border: 1px solid rgba(128, 128, 128, 0.41);
                margin-bottom: 15px;
                border-radius: 10px;
                padding-left: 10px;
            }

            button {
                padding: 2.5px 20px;
                border-radius: 10px;
                border: 1px solid gray;
                cursor: pointer;
                font-weight: bold;
            }
        }

        .login__container {
            display: none;

        }
    }

    .orders {
        padding: 60px 200px;

        .orders__content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 80px;

            li {
                list-style-type: none;
                width: 100%;
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
                position: relative;
                margin-top: 60px;

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    
                }
            }

            .wrapper {
                width: 100%;
                overflow: hidden;
                padding: 30px;
                position: absolute;
                z-index: 1;
                background-color: white;
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
                max-height: 110px; /* Начальная высота */
                transition: max-height 0.5s ease, opacity 0.5s ease;
            
                /* Убедитесь, что если содержимое маленькое, оно всё ещё видно */
                &:hover {
                    max-height: 1000px; /* Достаточно большое значение для анимации */
                    opacity: 1;
                     
                }

                @media (min-width: 1025px) and (max-width: 1440px){
                    padding: 15px;
                    max-height: 90px;
                }

                @media (min-width: 768px) and (max-width: 1024px){
                    box-shadow: none;
                    max-height: 100%;
                    overflow: visible;
                    

                }
            }
                .criterias {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-bottom: 10px;
                    position: relative;
                    overflow: hidden;
                    opacity: 1;
                    transition: height .5s ease, opacity 0.5s ease;
                    
                    li {
                        box-shadow: none;
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: center;
                        margin-top: 0;
    
                        &:last-child {
                            margin-bottom: 0;
                        }
                }

                    .name {
                        font-weight: bold;
                        font-size: 20px;
                        text-align: center;
                        @media (min-width: 768px) and (max-width: 1024px){
                            min-width: 100%;
                            font-size: 18px;
                        }
                    }

                    .price {
                        color: rgba(128, 128, 128, 0.485);
                        font-size: 20px;
                        font-weight: bold;

                    }

                    .descr {
                        opacity: 1; /* Описание видно всегда */
                        transition: opacity 0.5s ease;
                    }

                    .color, .scent {
                        opacity: 0; /* Скрыто по умолчанию */
                        transition: opacity 0.5s ease;

                        @media (min-width: 768px) and (max-width: 1024px){
                            opacity: 1;
                        }
                    }


                    p {
                        padding-right: 8px;
                        font-weight: bold;
                    }
                }

                .wrapper__btns {
                    display: flex;
                    justify-content: center;
                    opacity: 0; /* Скрыто по умолчанию */
                    transition: opacity 0.5s ease;
                    gap: 40px;

                    button {
                        cursor: pointer;
                        background-color: transparent;
                        border: none;
                        outline: none;

                    }
                    @media (min-width: 768px) and (max-width: 1024px){
                        opacity: 1;
                        gap: 15px;
                    }

                    .heart {
                        width: 20px;
                        height: 20px;
                        transition: filter 0.3s ease;

                        &:hover {
                            filter: invert(24%) sepia(96%) saturate(7481%) hue-rotate(1deg) brightness(103%) contrast(101%);
                        }
                        &:active {
                            filter: invert(24%) sepia(96%) saturate(7481%) hue-rotate(1deg) brightness(103%) contrast(101%);
                        }
                    }

                    .bascket {
                        border: 1px solid rgba(128, 128, 128, 0.395);
                        padding: 5px 10px;
                        border-radius: 10px;
                        transition: .5s;

                        &:hover {
                            background-color: rgba(128, 128, 128, 0.486);
                        }
                    }
                }
                &:hover .criterias .color,
                &:hover .criterias .scent,
                &:hover .wrapper__btns {
                    opacity: 1; /* Показываем скрытые элементы */
                }
    
                /* При наведении на .wrapper появляется вся информация */
                &:hover .criterias .descr,
                &:hover .criterias .name,
                &:hover .criterias .price {
                    opacity: 1; /* Показываем описание, цену и название */
                }

            }
        }
    

    footer {
        border: 1px solid rgba(128, 128, 128, 0.223);
        padding: 30px 300px;
        display: flex;
        flex: 1 1 50%;
        align-items: center;
        justify-content: center;
        margin-top: 300px;
        gap: 200px;

        .left {
            .text {
                font-size: 20px;
            }

            img {
                height: 30px;
                width: 30px;
            }
            .wrapper{
                display: flex;
                justify-content: center;
                gap: 10px;
            }
        }
    }
